@model WebApplication6.Models.YD


    <div class="row">
        <div class="col-md-8">
            <section id="Create">
                @using (Html.BeginForm("Create", "Gas"))
                {
                <table>
                    <h3>新增款項</h3>
                    @**@
                <div class="form-group">
                    @Html.LabelFor(model => model.Gas)
                    @Html.DropDownListFor(model => model.Gas, (SelectList)ViewContext.Controller.ViewBag.Test,
                   new
                        {
        style = "font-size:150%;"


    })
                    @Html.ValidationMessageFor(model => model.Gas)
                </div>
       
                 <div class="form-group">
                        
                                @Html.LabelFor(model => model.Content)
                                @Html.TextBoxFor(model => model.Content)
                                @Html.ValidationMessageFor(model => model.Content)
                            
                    </div>
                </table>
                    <input type="submit" value="新增款項" />
                }
            </section>
        </div>
        </div>

