@model WebApplication6.Models.YD

@{
    ViewBag.Title = "RecordEdit";
}
<h2>編輯資料</h2>
@*@ViewBag.Ifpay*@

@using (Html.BeginForm())
{
@Html.AntiForgeryToken()

                <div class="form-horizontal">
                    @*<h4>YD</h4>*@
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.Id)

                   
                    <div class="form-group">
                        @Html.Label("姓名", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Gas, new { @VALUE = ViewBag.Gas, htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Gas, "", new { @class = "text-danger" })

                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Content, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Content, new { @VALUE = ViewBag.Content, htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Content, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Pay, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10 form-control-static">
                            @Html.DropDownListFor(model => model.Pay, ViewBag.List as List<SelectListItem>, "---Select---")
                            @Html.ValidationMessageFor(model => model.Pay, "", new { @class = "text-danger" })

                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Cost, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Cost, new { @VALUE = ViewBag.Cost, htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Cost, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Date, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10 form-control-static">
                            @ViewBag.Date
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="儲存" class="btn btn-default" />
                        </div>
                    </div>
                </div>}

<div>
    @Html.ActionLink("Back to List", "KaoRecord")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
